{% load leocalendar_tags %}

<div class="lg:flex lg:h-full lg:flex-col" id="calendar-view" x-data="{ openCreateEventModal: true, openCalendarViewDropDown: false  }">
  <header class="flex flex-none items-center justify-between border-b border-gray-200 py-4 px-6">
    <div>
      <h1 class="text-base font-semibold leading-6 text-gray-900">
        <time datetime="2022-01-22" class="sm:hidden">{{current_date|date:"jS F Y"}}</time>
        <time datetime="2022-01-22" class="hidden sm:inline">{{current_date|date:"jS F Y"}}</time>
      </h1>
      <p class="mt-1 text-sm text-gray-500">{{ current_date|date:"l" }}</p>
    </div>
    <div class="flex items-center">
      <div class="flex items-center rounded-md shadow-sm md:items-stretch">
        <button hx-get="{% url 'month-view'  current_date|get_previous_month_date  %}"
        hx-trigger="click"
        hx-target="#calendar-view"
        hx-swap="innerHTML"
        type="button" class="flex items-center justify-center rounded-l-md border border-r-0 border-gray-300 bg-white py-2 pl-3 pr-4 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:px-2 md:hover:bg-gray-50">
          <span class="sr-only">Previous month</span>
          <span class="hidden hover:absolute z-10">Previous month</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
        </button>
        <button type="button" class="hidden border-t border-b border-gray-300 bg-white px-3.5 text-sm font-medium text-gray-700 hover:bg-gray-50 hover:text-gray-900 focus:relative md:block">Today</button>
        <span class="relative -mx-px h-5 w-px bg-gray-300 md:hidden"></span>
        <button hx-get="{% url 'month-view'  current_date|get_next_month_date  %}"
        hx-trigger="click"
        hx-target="#calendar-view"
        hx-swap="innerHTML" type="button" class="flex items-center justify-center rounded-r-md border border-l-0 border-gray-300 bg-white py-2 pl-4 pr-3 text-gray-400 hover:text-gray-500 focus:relative md:w-9 md:px-2 md:hover:bg-gray-50">
          <span class="sr-only">Next month</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div class="hidden md:ml-4 md:flex md:items-center">
        <div class="relative">
          <button @click="openCalendarViewDropDown =! openCalendarViewDropDown" id="calendarViewDropDownButton"  type="button" class="flex items-center rounded-md border border-gray-300 bg-white py-2 pl-3 pr-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50" id="menu-button" aria-expanded="false" aria-haspopup="true">
            Month view
            <svg class="ml-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
          <div x-show.important="openCalendarViewDropDown" x-transition @click.outside="openCalendarViewDropDown = false" id="calendarViewDropDown" class=" absolute right-0 z-10 mt-3 w-36 origin-top-right overflow-hidden rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            {% include 'components/choose_views_large.html' %}
          </div>
        </div>
        <div class="ml-6 h-6 w-px bg-gray-300"></div>
        <button 
        hx-get="{% url 'create-event' 'month' current_date|date:'Y-m-d' %}" 
        hx-target="#createEventModal"
        hx-trigger="click"
        hx-swap="innerHTML"
        type="button" @click="openCreateEventModal = true" class="ml-6 rounded-md border border-transparent bg-blue-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Add event</button>
      </div>
      <div class="relative ml-6 md:hidden">
        <button _="on click toggle .hidden on #calendarMobileViewDropDown" type="button" class="-mx-2 flex items-center rounded-full border border-transparent p-2 text-gray-400 hover:text-gray-500" id="menu-0-button" aria-expanded="false" aria-haspopup="true">
          <span class="sr-only">Open menu</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
          </svg>
        </button>
        <div id="calendarMobileViewDropDown" class="hidden absolute right-0 z-10 mt-3 w-36 origin-top-right divide-y divide-gray-100 overflow-hidden rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-0-button" tabindex="-1">
          {% comment %} {% include 'calendar/components/choose_views_small.html' %} {% endcomment %}
        </div>
      </div>
    </div>
  </header>
  <div id="createEventModal" class="relative z-10">
  </div>
  <div class="isolate flex flex-auto overflow-hidden bg-white sm:flex-row flex-col" x-data="{timezone: String(new Date()).match(/GMT\+[0-9]+/)[0].replace(/GMT\+(\d\d)(\d\d)/, 'GMT+$1:$2')}">

      {% include 'components/common_calendar.html' %}

    <div style="width: 165%" class="z-0 flex flex-auto flex-row max-w-full" id="core-calendar-view">
      <div style="width: 165%" class="z-0 flex flex-auto flex-col overflow-y-scroll max-w-full" >
      <div x-data="{ days: ['M', 'T', 'W', 'T', 'F', 'S', 'S'] }" class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
        <template x-for="(day, index) in days" :key="index">
          <div class="flex justify-center bg-white py-2">
            <span x-text="day"></span>
          </div>
        </template>
      </div>
      <div class="flex bg-gray-200 text-xs leading-6 text-gray-700 lg:flex-auto">
        <div class="hidden w-full lg:grid lg:grid-cols-7 lg:grid-rows-5 lg:gap-px ">

          {% for week in weeks %}
            {% for day in week %}
                {% if day == 0 %}
                  <div class="relative bg-gray-100 py-2 px-3 text-gray-500">
                  </div>
                {%else%}
                {% if day.date == todays_date %}
                  <div class="relative bg-gray-50 hover:bg-white py-2 px-3 text-gray-500">
                    <time datetime="2021-12-28" class="flex h-6 w-6 items-center justify-center rounded-full bg-blue-600 font-semibold text-white">{{day.day}}</time>
                    <ol class="mt-2">
                      {% for event in events|get_item:day.date %}
                        <li class="tooltip relative" x-data="{ start: convertUTCDateToLocalDate('{{ event.start|date:"c" }}'), 
                        end: convertUTCDateToLocalDate('{{ event.end|date:"c" }}') }">
                          <a 
                          {% comment %} hx-get="{% url 'edit-event' 'month' event.id current_date|date:'Y-m-d' %}" {% endcomment %}
                          hx-target="#createEventModal"
                          hx-trigger="click"
                          hx-swap="innerHTML"
                          _="on htmx:afterOnLoad wait 10ms then remove .hidden from #createEventModal on click add .hidden to #calendarMobileViewDropDown" class="group flex">
                            <p class="flex-auto font-medium text-gray-900 group-hover:text-blue-600">{{event.title}}</p>
                          </a>
                          <span class="tooltip-text absolute bg-gray-800 text-white text-xs rounded py-3 px-2 opacity-0 bottom-full left-1/2 transform -translate-x-1/2 transition-opacity duration-300">
                            <span class="mb-2">{{event.title}} starting at <time x-text="`${start.getHours()}:${start.getMinutes()}`"></time></span> on <time x-text="`${start.getDate()} ${start.toLocaleString('default', { month: 'long' })}`"></time>
                            <span class="pt-2 tooltip-arrow absolute w-3 h-3 transform rotate-45 bg-gray-800 bottom-0 left-1/2 -translate-x-1/2"></span>
                          </span>
                        </li>
                      {% endfor %}
                    </ol>
                  </div>
                {%else%}
                  <div class="relative bg-gray-50 py-2 px-3 hover:bg-white  text-gray-500">
                    <time datetime="2021-12-28" class="flex h-6 w-6 items-center justify-center rounded-full font-semibold {% if current_date == day %} bg-blue-200 border-blue-500 border rounded-full font-semibold{% endif %}">{{day.day}}</time>
                    <ol class="mt-2">
                      {% for event in events|get_item:day.date %}
                        <li class="tooltip relative" x-data="{ start: convertUTCDateToLocalDate('{{ event.start|date:"c" }}'), 
                        end: convertUTCDateToLocalDate('{{ event.end|date:"c" }}') }">
                          <a 
                          {% comment %} hx-get="{% url 'edit-event' 'month' event.id current_date|date:'Y-m-d' %}" {% endcomment %}
                          hx-target="#createEventModal"
                          hx-trigger="click"
                          hx-swap="innerHTML"
                          _="on htmx:afterOnLoad wait 10ms then remove .hidden from #createEventModal on click add .hidden to #calendarMobileViewDropDown" class="group flex">
                            <p class="flex-auto font-medium text-gray-900 group-hover:text-blue-600">{{event.title}}</p>
                            <span class="tooltip-text absolute bg-gray-800 text-white text-xs rounded py-3 px-2 opacity-0 bottom-full left-1/2 transform -translate-x-1/2 transition-opacity duration-300">
                              <span class="mb-2">{{event.title}} starting at <time x-text="`${start.getHours()}:${start.getMinutes()}`"></time></span> on <time x-text="`${start.getDate()} ${start.toLocaleString('default', { month: 'long' })}`"></time>
                              <span class="pt-2 tooltip-arrow absolute w-3 h-3 transform rotate-45 bg-gray-800 bottom-0 left-1/2 -translate-x-1/2"></span>
                            </span>
                          </a>
                        </li>
                      {% endfor %}
                    </ol>
                  </div>
                {% endif %}
                {%endif%}
            {% endfor %}
          {% endfor %}
        </div>
        <div class="isolate grid w-full grid-cols-7 grid-rows-5 gap-px lg:hidden">
          {% for week in weeks %}
            {% for day in week %}
                {% if day == 0 %}
                <button type="button" class="flex h-14 flex-col bg-gray-100 py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-27" class="ml-auto"></time>
                </button>
                {%else%}
                <button type="button" x-data="{eventsCount: {{events|get_item:day.date|length }} }" class="flex h-14 flex-col bg-white py-2 px-3 text-gray-500 hover:bg-gray-100 focus:z-10">
                  <time datetime="2021-12-27" class="ml-auto flex h-6 w-6 items-center justify-center rounded-full font-semibold {% if current_date.day == day %} bg-blue-200 border-blue-500 border rounded-full font-semibold{% endif %}">{{day.day}}</time>
                  <span class="sr-only" x-text="eventsCount">events</span>    
                  <span class="-mx-0.5 mt-auto flex flex-wrap-reverse">
                  <template x-for="i in eventsCount">
                    <span class="mx-0.5 mb-1 h-1.5 w-1.5 rounded-full bg-gray-400"></span>
                  </template>
                  </span>
                </button>
                {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  </div>
    <div class="py-10 px-4 sm:px-6 lg:hidden">
      <ol class="divide-y divide-gray-100 overflow-hidden rounded-lg bg-white text-sm shadow ring-1 ring-black ring-opacity-5">
          {% for event in events|get_item:current_date.date %}
            <li class="group flex p-4 pr-6 focus-within:bg-gray-50 hover:bg-gray-50" x-data="{ start: convertUTCDateToLocalDate('{{ event.start|date:"c" }}'), 
            end: convertUTCDateToLocalDate('{{ event.end|date:"c" }}') }">
              <div class="flex-auto">
                <p class="font-semibold text-gray-900">{{event.title}}</p>
                <time datetime="2022-01-15T09:00" class="mt-2 flex items-center text-gray-700">
                  <svg class="mr-2 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-13a.75.75 0 00-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 000-1.5h-3.25V5z" clip-rule="evenodd" />
                  </svg>
                  <div class="space-x-2">
                    <span>{{event.title}} starting at <time x-text="`${start.getHours()}:${start.getMinutes()}`"></time></span>  <time x-text="`${start.getDate()} ${start.toLocaleString('default', { month: 'long' })}`"></time>
                  </div>
                </time>
              </div>
              <a 
              {% comment %} hx-get="{% url 'edit-event' 'month' event.id current_date|date:'Y-m-d' %}" {% endcomment %}
              hx-target="#createEventModal"
              hx-trigger="click"
              hx-swap="innerHTML"
              _="on htmx:afterOnLoad wait 10ms then remove .hidden from #createEventModal on click add .hidden to #calendarMobileViewDropDown" class="ml-6 flex-none self-center rounded-md border border-gray-300 bg-white py-2 px-3 font-semibold text-gray-700 opacity-0 shadow-sm hover:bg-gray-50 focus:opacity-100 group-hover:opacity-100">Edit<span class="sr-only">, Maple syrup museum</span></a>
            </li>          
          {% endfor %}  
      </ol>
    </div>
  </div>
</div>